p
{
	border: solid 3px black;
	border-radius: 60px
	width: 500px

}
p{
	border-radius: 60px

}
p{
	text-align: center;
}
p
{
	background-color: red
}

li
{
	list-style-position: inside;
    

}
.v1
{
	background-color: blue
}
.v2
{
	background-color: green

}
.v3
{
	background-color: orange
}
.v1 , .v2 , .v3
{
	width: 300px
}

section
{
	display: inline-flex;
}
.v1,.v2
{
	margin-right: 20px
}

.v1{
	margin-left: 250px
}
.v1 ,.v2,.v3
{
	border-radius:5px 
}
